# DO NOT MERGE — temporary pin until web_calendar_slot_duration 20.0 is released.
odoo-addon-web_calendar_slot_duration @ git+https://github.com/ledoent/web.git@20.0-mig-web_calendar_slot_duration#subdirectory=web_calendar_slot_duration
